body {
  height: 100vh;
  width: 100vw;
  background-color: #efeff2;
  display: flex;
  flex-direction: column;
  font-family: "Verdana", "Geneva", "sans-serif";
  font-size: 9pt;
}

/*runt-panel-host::shadow runt-tab-strip::shadow li {
  border-bottom: 3px solid #cccedb;
}*/

runt-panel-host::shadow runt-tab-strip::shadow li {
  border-bottom: 5px solid #cccedb !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background-color: transparent !important;
}

runt-panel-host::shadow runt-tab-strip::shadow li:hover {
  color: #3399ff !important;
  border-color: #3399ff !important;
}

runt-panel-host::shadow runt-tab-strip[gravity="right"]::shadow li {
  border-top: 5px solid #cccedb !important;
  border-bottom: none !important;
}

runt-panel-host::shadow .panel {
  border: 1px solid #cccedb !important;
}

runt-panel-host::shadow .panel .head {
  background-color: #007ACC !important;
  color: white !important;
  padding: 3px;
}

runt-panel-host::shadow .panel .body {
  padding: 3px;
}